*, html, body, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

#app {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 95vh;
    padding: 10px;
    background-color: #e0ffe0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto;
}

.content {
    flex-grow: 1;
}

.row {
    display: flex;
}

.col-sm {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 15px 0 15px 15px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    background-color: #0d1f1a;
    color: #999;
}

footer a {
    color: #fff;
}
footer a:hover {
    color: orange;
}
