*, html, body, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

#app {
    position: relative;
}

/*Sidebar*/

.Block {
    padding: 10px;
    background-color: #F0F0F0;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05);
    overflow: hidden;
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    border-radius: 0 15px 15px 0;
    left: 0;
    margin-left: auto;
    margin-top: auto;
    width: 300px;
    /* padding: 20px; */
    background-color: #FFFFFF;
    overflow-y: auto;
    padding: 20px;
    z-index: 99;
}

.sidebar h4 {
    font-size: 1rem;
    text-align: center;
    color: #000000;
    margin: 10px auto;
    font-weight: 600;
    cursor: pointer;
}

.sidebar p {
    text-align: center;
    color: #555;
    padding: 5px;
}

form {
    padding: 10px 0 20px;
}
label {
    padding-top: 9px;
    font-size: 0.8rem;
    color: #555;
}
.radio-left, .radio-center, .radio-right {
    flex-grow: 1;
    padding-top: 3px;
    text-align: center;
}
input, select {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
}
input:focus {
    outline: none;
}

input.range, select.range {
    width: 30%;
}

.btn {
    margin: 5px 0;
    padding: 8px;
    background-color: #d3f7ff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover {
    /*background-color: #88e2e4;*/
    opacity: .8;
}
.btn:focus {
    outline: none;
}

.btn-create-block, .btn-delete-block {
    display: block;
    margin: 10px auto;
}

.btn-delete-block {
    background: #b94040;
    color: white;
}

/* Content */
.content {
    position: absolute;
    top: 20px;
    left: 320px;
    width: calc(100vw - 340px);
    height: calc(100vh - 40px);
    overflow: scroll;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.col-sm {
    flex-grow: 1;
    flex-basis: 100%;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    background-color: #0d1f1a;
    color: #999;
}

footer a {
    color: #fff;
}
footer a:hover {
    color: orange;
}

.block-content:focus {
    border-width: 1px !important;
    border-color: #000000 !important;
}
